.d-grid{
    display: grid;
}
.repeat-layout{
    grid-template-columns: repeat(2, 3fr 1fr) ;
    grid-template-rows: repeat(3, 50px);
}

.line-name{
    grid-template-columns: [start-column] 1fr 2fr 1fr[end-column];
}
.line-name div:nth-child(1){
    grid-column-start: start-column;
    grid-column-end: end-column;
}



.span-layout{
    grid-template-columns: [start-column] 1fr 2fr 1fr[end-column];    
}
.span-layout div:nth-child(1){
    grid-column: start-column/end-column;
}