*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: Arial;
    background-color: #3b3b3b;
}

.container{
    max-width: 1195px;
    margin: 0 auto;
    /* border: 1px solid #000; */
}

header{
    background: #242424;
    padding: 55px 0;
}

header .menu{
    display: flex;
    justify-content: flex-start;
}

header .menu a{
    width: 260px;
    background: #b33636;
    text-align: center;
    padding: 14px 0;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 8px;
    color: #fefcfc;
    box-shadow: 0 0 10px -1px #000;
    margin: 0 0 0 15px;
}

header .menu a:hover{
    box-shadow: none;
    opacity: 0.4;
}

.content{
    max-width: 80%;
    min-height: 400px;
    margin: 0 auto;
    display: flex;
}
.content div:nth-child(1){
    background-color: coral;
    width: 300px;
}
.content div:nth-child(2){
    background-color: rgb(164, 74, 182);
    width: 600px;
}
.content div:nth-child(3){
    background-color: rgb(74, 230, 121);
    width: 300px;
}


footer{
    background: #242424;
    padding: 55px 0;
}
.footer{
    display: flex;
    justify-content: flex-end;
}
.footer a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    margin: 0 0 0 40px;
}
.footer a:hover{
    color: crimson;
}