*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: Arial;
    background-color: #666666;
}

.container{
    max-width: 1195px;
    margin: 0 auto;
    /* border: 1px solid #000; */
}

header{
    background: #353535;
    padding: 55px 0;
}

header .menu{
    display: flex;
    justify-content: space-between;
    align-items: center ;
}
.menu div{
    display: flex;
}
.menu div a{
    width: 260px;
    display: block;
    margin: 0 0 0 15px;
}
header .menu a{
    width: 260px;
    background: #db4163;
    text-align: center;
    padding: 14px 0;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 8px;
    color: #fefcfc;
    box-shadow: 0 0 10px -1px #000;
}

header .menu a:hover{
    box-shadow: none;
    opacity: 0.4;
}

main{
    margin: 55px 0;
}
.technology{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}
.technology img{
    width: 360px;
    height: 200px;
}
.technology .arrow{
    width: 41px;
    height: 22px;
}

.gallery{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.gallery img{
    width: 360px;
    height: 200px;
    margin-bottom: 35px;
}

.news article{
    background-color: #fefcfc;
    display: flex;
    padding: 20px;
    margin-bottom: 40px;
}
.news article img{
    width: 340px;
    height: 225px;
    margin-right: 55px;
}
.news article .description{
    font-size: 16px;
    width: 760px;
}
.news article:nth-child(even) img{
    order: 1;
    margin-right: 0;
    margin-left: 55px;
}

.four_blocks{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: 40px;
}
.four_blocks .items{
    width: 25%;
    height: 200px;
    background-color: rgb(69, 31, 78);
    margin-right: 5%;
    color: #fff;
    font-size: 48px;
    padding: 25px;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 400px;
    height: 400px;
    border: 1px solid #fff;
}
.box .item{
    background-color: crimson;
    width: 100px;
    height: 100px;
}

.cards{
    display: flex;
    justify-content: space-around;
}
.cards .card{
    width: 400px;
    min-height: 420px;
    background-color: #2b2b2b;
    color: #fff;
    box-shadow: 0 0 10px -1px #000;
    font-size: 18.5px;
    display: flex;
    flex-direction: column;
    padding: 0 0 20px 0;
}
.card h3{
    margin: 0 0;
    background-color: rgb(212, 68, 97);
    text-transform: uppercase;
    text-align: center;
    padding: 20px 0 20px;
}
.card .description{
    padding: 40px;
}
.card .description p{
    padding: 0;
    margin: 0;
    line-height: 1.5;
}

.card .btn{
    background-color: crimson;
    font-size: 18px;
    text-transform: uppercase;
    padding: 12px 0;
    display: block;
    margin: auto auto 0;
    border: none;
    width: 260px;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px -1px #000;
}

footer{
    background-color:#353535;
    margin: 0;
    padding: 40px 0;
    text-align: center;
}
footer a{
    text-decoration: none;
    color: #fff;
    font-size: 24px;
}

@media (max-width: 1200px){
    .technology{
        flex-direction: column;
    }
    .technology img{
        max-width: 620px;
        max-height: 315px;
        width: 100%;
        height: auto;
    }
    .technology .arrow{
        display: none;
    }
    
}

@media (max-width: 768px){
    header .menu{
        flex-direction: column;
        align-items: center;
    }
    header .menu a{
        width: 90%;
        margin-bottom: 40px;
    }

}