/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/


body{
	background-color: #f5f5f5;
	font-family: 'Raleway', sans-serif;
}

.wrapper{
	min-height: 100%;
	overflow: hidden;
}
.container{
	max-width: 1170px;
	margin: 0px auto;
}

/*header*/
.header{
	height: 860px;
	padding: 80px 0px 0px 0px;
	background: linear-gradient(45deg, #1b76bb 0%, #ad409a 100%);
}
.header__row{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.menu__list{
	width: 580px;
	display: flex;
	justify-content: space-between;
}
.menu__list li a{
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: 400;
}
.menu__list li a:hover{
	text-shadow: 1px 1px 8px #fff;
}
.header__text{
	max-width: 500px;
	margin: 170px 0px 0px 0px;
	font-family: 'Raleway', sans-serif;
	font-size: 48px;
	font-weight: 300;
	line-height: 75px;
	color: #fff;

	transform: translate(0px, 80%);
	opacity: 0;
	transition: all 0.8s ease 0s;
}
.header__text._active{
	transform: translate(0px, 0px);
	opacity: 1;
}

.header__bold__text{
	font-weight: 800;
}
/*================*/



/*main_content*/

.button a{
	width: 170px;
	height: 50px;
	border: 2px solid #999;
	border-radius: 50px;
	padding: 16px 0px;
	display: block;
	font-size: 18px;
	font-family: 900;
	color: #999;
	text-align: center;

	transition: all 0.6s ease 0s;
}
.button a:hover{
	color: #fff;
	background-color: #0169b4;
	border: none;
	box-shadow: 1px 1px 12px #0169b4;
}

.services__row{
	display: flex;
	justify-content: space-between;
}
.services__card{
	width: 370px;
	height: 534px;
	padding: 50px 34px;
	background-color: #fff;
	text-align: center;

	display: flex;
	flex-direction: column;
	align-items: center;

	position: relative;
	top: 0px;
	transition: all 0.8s ease 0s;
}
.services__card._active{
	top: -200px;

}
.services__card__icon img{
	height: 100px;
}
.services__card__title{
	width: 200px;
	margin: 30px 0px 50px 0px;
	font-size: 30px;
	font-weight: 700;
	color: #666666;
}
.services__card__text{
	font-size: 18px;
	font-weight: 500;
	color: #878787;
	line-height: 30px;
	margin: 0px 0px 56px 0px;
}


/*hello*/
.hello__row{
	height: 520px;
	display: flex;
}
.hello__text{
	padding: 50px 0px;

	transform: translate(-100%, 0px);
	opacity: 0;
	transition: all 1.4s ease 0s;
}
.hello__text._active{
	transform: translate(0px, 0px);
	opacity: 1;
}
.hello__text__title{
	margin: 0px 0px 56px 0px;
	font-size: 50px;
	font-weight: 500;
	color: #0169b4;
}
.hello__text__text{
	margin: 0px 0px 56px 0px;
	font-size: 18px;
	font-weight: 500;
	color: #666;
	line-height: 30px;
}
.hello__text__button a{
	width: 170px;
	height: 50px;
	border: 2px solid #999;
	border-radius: 50px;
	padding: 16px 0px;
	display: block;
	font-size: 18px;
	font-family: 900;
	color: #999;
	text-align: center;
}
.hello_image{
	transform: translate(100%, 0px);
	opacity: 0;
	transition: all 1.4s ease 0s;
}
.hello_image._active{
	transform: translate(0px, 0px);
	opacity: 1;
}
.hello_image img{
	width: 570px;
}

/*Our projects*/
.our__projects__title{
	margin: 0px 0px 56px 0px;
	font-size: 50px;
	font-weight: 500;
	color: #0169b4;
}
.projects__images__block{
	display: flex;

}
.project_image{
	height: 280px;
	overflow: hidden;
	position: relative;

	transform: scale(0);
	transition: all 1s ease 0s;
}
.project_image._active{
	transform: scale(1);
}
.project_image img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.project_image:hover{
	opacity: 0.7;
}

/*solutions*/
.title{
	font-size: 50px;
	font-weight: 500;
	color: #0169b4;
}
.solutions__title{
	margin: 0px 0px 68px 0px;
}
.solutions{
	padding: 170px 0px;
}

.solutions__row{
	display: flex;
	justify-content: space-between;
	margin: 0px 0px 68px 0px;
}
.last__row{
	margin: 0px 0px 0px 0px;
}
.solutions__column{
	flex: 0 0 40%;

	transform: scale(0);
	transition: all 1.6s ease 0s;
}
.solutions__column._active{
	transform: scale(1);
}

.item-solutions__title{
	font-size: 30px;
	font-weight: 500;
	color: #333;
	margin: 0px 0px 28px 0px;
}
.item-solutions__text{
	font-size: 18px;
	font-weight: 400;
	color: #666;
	line-height: 30px;
}

/*people say*/
.people_say{
	background-color: #fff;


}
.people_say__body{
	padding: 90px 0px;
	display: flex;
	align-items: center;
}
.people_say__column{
	padding: 0px 90px 0px 0px;

	transform: translate(-80%, 0px);
	opacity: 0;
	transition: all 1s ease 0s;
}
.people_say__column._active{
	transform: translate(0px, 0px);
	opacity: 1;
}
.people_say__title{
	margin: 0px 0px 120px 0px;
}
.people_say__text{
	font-size: 18px;
	font-weight: 400;
	color: #666;
	line-height: 30px;
	margin: 0px 0px 50px 0px;
}
.people_say__author{
	font-size: 18px;
	font-weight: 500;
	color: #333;
}
.people_say__image{
	width: 800px;

	transform: scale(0);
	transition: all 1.5s ease 0s;
}
.people_say__image._active{
	transform: scale(1);
}
.people_say__image img{
	width: 100%;
}

.people_say__button{
	margin: 76px 0px 0px 0px;
	display: flex;
	justify-content: flex-end;
}

/*news*/
.news{
	padding: 168px 0px;
}
.news__title{
	margin: 0px 0px 68px 0px;
}

.news__row{
	display: flex;
}


.news__column{
	margin: 0px 0px 0px 50px;

	transform: translate(0px, 60%);
	opacity: 0;
	transition: all 0.8s ease 0s;
}
.news__column._active{
	transform: translate(0px, 0px);
	opacity: 1;
}

.news__column

.first__column{
	margin-left: 0px;
} 
.news__column__header{
	display: flex;
	margin: 0px 0px 68px 0px;
}
.news__column__date_block{
	margin: 0px 40px 0px 0px;
}
.news__column__day{
	font-size: 54px;
	font-weight: 500px;
	color: #cccccc;
}
.news__column__month{
	font-size: 24px;
	font-weight: 500px;
	color: #cccccc;
}
.news__column__title{
	font-size: 24px;
	font-weight: 600;
	line-height: 36px;
	color: #333;
}
.news__column__text{
	font-size: 18px;
	font-weight: 400;
	color: #666;
	line-height: 30px;
	margin: 0px 0px 68px 0px;
}
/*==================*/




/*footer*/
.footer{
	padding: 120px 0px 110px 0px;
	background: linear-gradient(45deg, #ad409a 0%, #1b76bb 100%);
}
.contact{
	margin: 0px 0px 140px 0px;
}
.contact__row{
	display: flex;
	justify-content: space-around;
}
.item-contact{
	height: 110px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

	
	color: #fff;
	font-size: 14px;
	font-weight: 400;

	transform: scale(0);
	transition: all 1s ease 0s;
}
.item-contact._active{
	transform: scale(1);
}
.social-net{
	max-width: 340px;
	margin: 0px auto;
}
.social-net__row{
	display: flex;
	justify-content: space-between;

		transform: scale(0);
	transition: all 1s ease 0s;
}
.social-net__row._active{
	transform: scale(1);
}

/*.social-net__row__icon{
	transform: scale(0);
	transition: all 1s ease 0s;
}
.social-net__row__icon._anim-items{
	transform: scale(1);
}*/